<div class="attribution">
  <div class="inner-content">
    <div class="developed">
      <%= link_to 'http://connecttinc.com', target: '_blank' do -%>
        <%= image_tag 'logo.anfeli.png' %>
      <% end -%>
    </div>
    <div class="copyright">
      <span> <%= Time.now.year %> – Todos os direitos reservados </span>
    </div>
  </div>
</div>
