//
// Theme related colors
//

$black: #313131;
$yellow: #F6B63C;

$menu-font-color: #FFFFFF;
$menu-bg-primary: #C98401;
$menu-bg-primary: #FFFFFF;

$footer-bg-light: #313131;
$footer-bg-dark: #000000;

$light-blue: red;

//footer:
//cinza mais claro: #313131
//cinza mais escuro: #1b1b1b
//botão amarelo: f6b63c
//cor do texto do botão: ffffff
//cor do header:#313131
//cor do texto  do site: #313131
//cor do botão cinza: #313131
//cor do texto do botão cinza: ffffff
//cor de bg: eeeff1

$light-gray: #313131;
$dark-gray: #1b1b1b;
$brand-yellow: #FBB03B;
$white: #ffffff;
$dark-white: #eeeff1;

//Fonte open sans (bold 24pt titulo)
//Fonte open sans (regular 16pt corpo)


