<div id="removeGallery" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeGalleryLabel" data-keyboard="false">
  <%= form_tag galerias_path, method: :delete, remote: true, class: 'center-block float-label' do -%>
    <%= hidden_field_tag :gallery_id, nil, id: 'gallery-id' %>
    <fieldset>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="removeGalleryLabel"> Atenção! Esta operação não pode ser desfeita. </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <p>
                  Você tem certesa que quer remover esta galeria?
                </p>
                <p>
                  Todas as fotos desta galeria serão removidas!
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="pull-left btn btn-default" data-dismiss="modal"> Cancelar </button>
            <%= button_tag class: 'btn btn-danger ladda-button submit', data: { style: 'zoom-in' } do %>
              <span class="ladda-label"> Sim, tenho certesa! </span>
            <% end %>
          </div>
        </div>
      </div>
    </fieldset>
  <% end -%>
</div>
