// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.loggedout {
  
  #canvas {
    
    .content {
      
      .login {
        max-width: 300px;
        
        legend {
          
          img {
            height: 80px;
            margin-bottom: 10px;
          }
        }
        
        #login {
          
          .submit {
            $login-button-color: #aa7208;
            @include bootstrao-button(#fff, $login-button-color, darken($login-button-color, 12%));
          }
        }
      }
    }
  }
}
